/* Use Catppuccin Mocha colors */
@import 'mocha.css';

* {
font-family: "0xProto Nerd Font";
/* font-family: "CommitMono Nerd Font";
font-feature-settings: '"ss03", "ss04", "ss05", "cv06", "cv07", "cv08"'; */
font-weight: 600;
min-height: 0;
font-size: 15px;
}

window#waybar {
    background: rgba (0, 0, 0, 0.4);
    border-radius: 12px;
	/* border-bottom: 2px; */
    border-style: solid;
	border-color: @rosewater; 
}

#workspaces {
	background: transparent;
	padding: 0px;
	border-radius: 15px;
	border: 0px;
	font-style: normal;
	color: @crust;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-right: 6px;
	padding-left: 6px;
}

#taskbar button,
#workspaces button {
	padding: 0px 5px;
	border-radius: 15px;
	border: 0px;
	color: @pink;
	background: @crust;
	opacity: 0.55;
	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.empty {
	padding: 0px 5px;
	border-radius: 15px;
	border: 0px;
	color: @pink;
	background: @crust;
	opacity: 0.35;
	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active,
#workspaces button.active {
	padding: 0px 5px;
	border-radius: 15px;
	border: 0px;
	color: @crust;
	background: @pink;
	opacity: 0.9;
	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
	border-radius: 15px;
	color: @crust;
	background: @mauve;
	opacity: 0.9;
	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

tooltip {
	background: @base;
	opacity: 0.8;
	border-radius: 6px;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#custom-backlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-file_manager,
#custom-ivpn,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-playerctl,
#custom-waybar-scrolling-mpris,
#custom-power_vertical,
#custom-power,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	padding-left: 6px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 
#custom-playerctl,
#custom-waybar-scrolling-mpris {
    color: @sapphire;
}

#clock {
    color: @yellow;
}

#backlight {
    color: @yellow;
}

#battery.normal {
    color: @lavender;
}

#battery.top {
    color: @green;
}

#battery.warning {
    color: @base;
    background: @yellow;
}

@keyframes blink {
    to {
        color: @red;
        background-color: @base;
    }
}

#battery.critical:not(.charging) {
    background: @red;
    color: @base;
	animation-name: blink;
	animation-duration: 3.0s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#cpu {
    color: @yellow;
}

#disk {
	color: @lavender;
}

#custom-keyboard,
#memory {
    color: @maroon;
}

#network.disabled {
    color: @red;
}

#network{
    color: @teal;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @blue;
}

#pulseaudio.muted {
    color: @maroon;
}

#custom-light_dark,
#temperature {
    color: @peach;
}

#temperature.critical {
    color: @red;
}

#keyboard-state,
#custom-hypridle,
#idle_inhibitor {
   color: @peach;
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
	color: @subtext0;
}

#tray {
}

#custom-swaync,
#custom-menu {
	color: @yellow;
	padding-left: 8px;
}
#custom-power{
    color: @red; 
}

#window{
    border-style: hidden; 
}

#custom-lock,    
#bluetooth{
	color: @blue;
}

#custom-cava_mviz{
	color: @teal;
} 
  
#custom-ivpn{
	color: @mauve;
}

#custom-weather{
	color: @rosewater;
}

#backlight-slider slider,
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}
